# Force GitHub to detect languages correctly
*.py linguist-language=Python
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript

# Ignore virtual environment, media, database
myvenv/** linguist-vendored
media/** linguist-vendored
*.sqlite3 linguist-vendored

# Optional: documentation
*.md linguist-documentation
